{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Reciever: (Leave it blank if you want to meet a new friend.)
        <dd><input type="text" size="50" name="reciever" >
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="60"></textarea>
        <dd><input type="submit" value="Send">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>From: {{ entry.sender }} Date: {{ entry.date }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}